.contact-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.contact-info{
    height: 30rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.contact-platforms{
    list-style-type: none;
}

.contact-platforms li{
    margin-top: 3rem;
    color: red;
}

a{
    text-decoration: none;
    color:red !important;
}
